.avatarWrapper {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  background: linear-gradient(
    135deg,
    #FF8660 0%,
    #8000FF 100%
  );

  @media screen and (min-width: 768px) {
    width: 213px;
    height: 213px;
  }
}